@model AriasRomanJonathan_Proyecto1.PrestamosHerramientas

@{
    ViewBag.Title = "Eliminar Préstamo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>¿Está seguro de que desea eliminar?</h3>
<div>
   <h4>Préstamo Herramientas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaPrestamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPrestamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCompromisoDevolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCompromisoDevolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRealDevolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRealDevolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colaboradores.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colaboradores.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Herramientas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Herramientas.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a href="@Url.Action("Index")" class="btn btn-secondary">Regresar</a>
        </div>
    }
</div>
